@charset "UTF-8";
/* CSS Document */

* {
	font-family: "Andale Mono", monospace;
  color: #ffeb99;
/*	color: #fff0b3;
  font-size: 20px; */
}

body {
	background-color: #262626;
}

p {
  margin-top: 1px;
  margin-bottom: 1px;
}

a:link {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h4 { 
  margin-top: 0;
}

td {
  padding: 1px 1px 1px 36px;
  text-indent: -36px;
  vertical-align: top;
}

/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #262626;
  position: fixed;
  height: 100%;
  overflow: auto;

}

/* Sidebar links */
.sidebar a {
  display: block;
  color: #ffeb99;
  padding: 8px;
  text-decoration: none;
}

/* Dropdown contents */
.drop a {
  display: block;
  color: #ffeb99;
  padding: 8px 8px 8px 16px;
  text-decoration: none;
}

/* Sidebar active/current link */
.sidebar a.active {
  background-color: #b38f00;
  color: white;
}

/* Dropdown active/current link */
.drop a.active {
  background-color: #262626;
  text-decoration: underline;
  color: #ffeb99;
}

/* Sidebar links on mouse-over */
.sidebar a:hover:not(.active), .drop a:hover:not(.active) {
  background-color: #333333;
  color: #fff5cc;
}

/* Dropdown links on mouse-over */
.drop a:hover:not(.active) {
  background-color: #262626;
  text-decoration: underline;
  color: #ffeb99;
}

/* Sidebar text */
.sidebar p {
  display: block;
  padding: 8px;
  font-size: 10px;
  color: #ffe680;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 8px;
  height: 1000px;
}

div.content-hanging {
  margin-left: 200px;
  padding: 1px 8px 1px 44px;
  height: 1000px;
  text-indent: -36px;
}

div.content-centered {
  padding: 1px 0px 1px 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
  div.content-hanging {margin-left: 0;}
  div.content-centered {padding: 1px;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
} 